
/* Цветовая схема : https://colorscheme.ru/#0F12Pw0w0w0w0
Основной Цвет:
        
#FF8C00 #BF7F30 #A65B00 #FFA940 #FFC073
*/

body {     
  background:   #FFA940;
}

#header {     /*Это верхняя часть сайта. С заголовком*/       
  width: 100%;/*ширина */
  display: inline-block;/*это нужно, чтоб все элементы выстроились в линию*/
  background:   #FFA940;
}

#my_container {     /*Контейнер, это такая коробочка, в которую будем вкладывать элементы сайта*/       
  border: 1px solid grey; /* рамка толщиной 1 пиксель . Тут же указан цвет рамки*/
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4); /*у нашей рамки будет тень*/
  margin: 30px auto;/* Отступить от заголовка сайта 30 пикселей*/
  width: 100%;/*ширина 100%*/
  display: inline-block;/*это нужно, чтоб все элементы выстроились в линию*/

}
#left-menu {   /* Это левое меню*/
  border: 1px solid grey;/* рамка толщиной 1 пиксель . Тут же указан цвет рамки*/
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);/*у нашей рамки будет тень*/
  float: left;/*элемент слева*/
  width: 13%;/*ширина */
  display: inline-block;/*это нужно, чтоб все элементы выстроились в линию*/
  z-index: 2;   
  background: #FFC073;
}

#right-menu {/* Это правое меню*/
  border: 1px solid grey;/* рамка толщиной 1 пиксель . Тут же указан цвет рамки*/
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);/*у нашей рамки будет тень*/
  float: left;/*элемент слева*/
  width: 13%;/*ширина */
  display: inline-block;/*это нужно, чтоб все элементы выстроились в линию*/
   z-index: 2;
   background: #FFC073; 
}
#content {  /* Тут будет жить контент - информация, которая будет на сайте*/
  border: 1px solid grey;/* рамка толщиной 1 пиксель . Тут же указан цвет рамки*/
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);/*у нашей рамки будет тень*/
  padding: 10px ;/*внутренний отступ 10 */
  float: left; /*элемент слева*/
  width: 70%;/*ширина */
  display: inline-block;  /*это нужно, чтоб все элементы выстроились в линию*/
  z-index: 4;
  background: #FFC073;    
}

#footer {/*Подвал сайта*/
  border: 1px solid grey;/* рамка толщиной 1 пиксель . Тут же указан цвет рамки*/
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);/*у нашей рамки будет тень*/
  padding: 20px 0 20px 0; /*отступы сверху и снизу по 20, слева и справа 0*/
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.7); /* тень*/
  clear:left;
  background:   #FFA940;
}
/*end основная разметка*/
/*Карусель*/
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 40%;
      margin: auto;
  }
/*end Карусель*/
h3 {
  text-align: center;
}


